@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* VARIABLES */
:root {
    --font-primaria: "Share Tech Mono", monospace;
    --color-primario: #41b141;
    --color-primario-opacidad: rgba(64, 176, 64, 0.502);
    --color-secundario: #df2222;
    --background-color: #030a04;
    --borde-apartados: var(--color-primario-opacidad) solid 0.3px;
}
/* reseteamos los estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: var(--font-primaria);
    color: var(--color-primario);
    cursor: url('media/img/#'), default;
    font-size: clamp(8px, 1.2vw, 24px);
    margin-bottom: 2px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-secundario);
}

/* con este selector y propiedades conseguimos que las imagenes se adapten al tamaño del elemento que las contiene y sean responsive */
img,
video {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    padding: 14px;
}

.wrapper {
    border: solid 1px;
    padding: 14px;
    height: 97vh;
}



/**
/* Barras diagonales esquinas wrapper */
.corner{
    position: absolute;
    width: 23px;      
    height: 1px;           
    background: var(--color-primario);
    will-change: transform;
    transform: translateZ(0); 
}

/* Arriba-izquierda */
.corner.ai{
    top: 30px; left: 14px;
    transform-origin: left center;
    transform: rotate(-45deg);
}

/* Arriba-derecha */
.corner.ad{
    top: 30px; right: 14px;
    transform-origin: right center;
    transform: rotate(45deg);
}

/* Abajo-derecha */
.corner.bd{
    bottom: 27px; right: 15px;
    transform-origin: right center;
    transform: rotate(-45deg);
}

/* Abajo-izquierda */
.corner.bi{
    bottom: 27px; left: 14px;
    transform-origin: left center;
    transform: rotate(45deg);
}



/**
/* HEADER HORIZONTAL INICIAL  */
header {
    border: var(--borde-apartados);
    padding: 7px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div {
    display: flex;
    gap: 3vw;
}






/**
/* TRES COLUMNAS CONTENIDO  */
#columns {
    display: flex;
    margin-top: 7px;
    justify-content: space-between;
}

#column-one,
#column-two,
#column-three {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: var(--borde-apartados);
    padding: 7px;
}



/**
/* PRIMERA COLUMNA  */
.booting,
#tel-check {
    border: var(--borde-apartados);
    padding: 7px;
}

#tel-check {
    display: flex;
}

#telemetry img {
    width: 60%;
}

#telemetry > p,
#checksum > p,
.booting > P {
    margin-bottom: 10px;
}

#column-one video {
    height: 25vh;
}



/**
/* SEGUNDA COLUMNA  */
#column-two {
    width: 40vw;
}

h2 {
    color: var(--color-secundario);
    font-size: clamp(10px, 1.6vw, 32px);
    margin: 0 14px 10px 14px;
}

.h2-box {
    border-bottom: var(--color-secundario) solid 0.3px;
    margin: 10px;
}

h1:first-child {
    font-size: clamp(20px, 3vw, 100px);
}

h1:last-child {
    font-size: clamp(20px, 5vw, 100px);
}

h1 {
    /* brillo base */
    text-shadow:
    0 0 1px var(--color-primario-opacidad),
    0 0 5px var(--color-primario-opacidad),
    0 0 10px var(--color-primario-opacidad),
    0 0 20px var(--color-primario-opacidad);
    
    /* animación de pulso */
  animation: neon-pulse 1s ease-in-out infinite;
}

/* keyframes del brillo pulsante */
@keyframes neon-pulse {
  0%, 100% {
    text-shadow:
      0 0 1px var(--color-secundario),
      0 0 5px var(--color-secundario),
      0 0 10px var(--color-secundario),
      0 0 20px var(--color-secundario);
    opacity: 0.95;
  }

  50% {
    text-shadow:
      0 0 2px var(--color-primario),
      0 0 10px var(--color-primario),
      0 0 20px var(--color-primario),
      0 0 40px var(--color-primario);
    opacity: 1;
    filter: blur(0.3px); /* micro desenfoque */
  }

  /* pequeños micro pulsos */
  40%, 60% {
    opacity: 0.9;
  }
}


.error-404 {
    text-align: center;
    margin: 20px 0 20px 0;
}

.lista-errores {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--color-secundario) solid 0.3px;
}

.lista-errores div:last-child {
    margin-bottom: 32px;
    text-align: end;
}

#column-two .recommended-actions {
    margin: 14px 0 14px 0;
}

h3 {
    font-size: clamp(20px, 2vw, 100px);
}

.options {
    display: flex;
    flex-direction: column;
    margin: 14px 0 14px 0;
}

/* SPACE VALUES  */
.space-values {
    display: flex;
    justify-content: space-between;
    border: var(--borde-apartados);
    padding: 7px;
}

.space-values div:last-child {
    text-align: end;
}

.space-values div:first-child p:last-child {
    margin-top: 12px;
}





/**
/* TERCERA COLUMNA  */
.camera-ext {
    border: var(--borde-apartados);
    padding: 7px;
}

.camera-ext > div {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.camera-ext #video-ext {
    width: 27vw;
    border: var(--borde-apartados);
    margin-bottom: 14px;
}

/* sección radar */
#radar {
    border: var(--borde-apartados);
    padding: 7px;
}

.radar {
    display: flex;
    gap: 14px;
    margin-bottom: 7px;
}

.column1-radar,
.column2-radar {
    flex: 1;
}

.column2-radar {
    flex: 2;
}

.column1-radar video {
    margin-bottom: 14px;
}





/**
    /* MARQUEE */
    .marquee {
        margin: 7px 0;
        overflow: clip;
        border: var(--borde-apartados);
        height: 3vh;
    }
    
    .group {
        display: flex;
        padding-left: 4.8rem;
        gap: 2.8rem;
        width: max-content;
        padding: 7px;
    }

    .group.rtl p {
        font-size: 0.7rem;
    }
    
    /* rtl = right to left */
    .group.rtl {
        animation: marquee-move-text 14s linear infinite forwards;
    }
    
    /* DEFINICIÓN DE LA ANIMACIÓN */
    @keyframes marquee-move-text {
        to {
            transform: translateX(-50%);
        }
    }
